<a href="https://colab.research.google.com/github/lenaphamthi/bai_tap_pandas/blob/main/bai_tap_pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Khởi tạo 1 Series với giá trị rỗng
- class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [2]:
import numpy as np
import pandas as pd

In [ ]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

Câu 2: Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1
series tương ứng với các giá trị được sinh ngẫu nhiên.
- hàm random.randint(low, high=None, size=None, dtype=int) : sinh giá trị ngẫu nhiên là số nguyên

In [6]:
a = np.random.randint(1,10,7)
print("Vector hang co kich thuoc ngau nhien: ",a)
aa = pd.Series(a)
print("Series tuong ung: ")
print(aa)

Vector hang co kich thuoc ngau nhien:  [3 8 7 3 7 6 3]
Series tuong ung:
0    3
1    8
2    7
3    3
4    7
5    6
6    3
dtype: int64

Câu 3: Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ
bàn phím và tạo series tương ứng.

In [9]:
a = np.array([int(input(f"nhap phan tu thu {i+1}: ")) for i in range(7)])
print("Phan tu da nhap: ",a)
print("series cua 7 phan tu bat ky: ")
print(pd.Series(a))

nhap phan tu thu 1: 4
nhap phan tu thu 2: 6
nhap phan tu thu 3: 3
nhap phan tu thu 4: 2
nhap phan tu thu 5: 5
nhap phan tu thu 6: 4
nhap phan tu thu 7: 9
Phan tu da nhap:  [4 6 3 2 5 4 9]
series cua 7 phan tu bat ky:
0    4
1    6
2    3
3    2
4    5
5    4
6    9
dtype: int64

Câu 4: Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series
tương ứng.

In [13]:
a = np.random.randint(1,10,[7,1])
print("vector cot: ")
print(a)
#dùng hàm reshape để đổi hàng và cột vì series chỉ nhận dữ liệu 1 chiều
aa = a.reshape(7,)
print("series tuong ung")
print(pd.Series(aa))

vector cot:
[[4]
 [9]
 [5]
 [5]
 [1]
 [5]
 [4]]
series tuong ung
0    4
1    9
2    5
3    5
4    1
5    5
6    4
dtype: int64

Câu 5: Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:
- Chuyển 1 list thành 1 series
- Chuyển 1 tuple thành 1 series
- Chuyển 1 dictionary thành 1 series

In [16]:
l1 = [1,2,3,4]
print("list :",l1)
print("chuyen list thanh series: ")
print(pd.Series(l1))

list : [1, 2, 3, 4]
chuyen list thanh series:
0    1
1    2
2    3
3    4
dtype: int64

In [18]:
t1 = (1,3,4,5)
print("tuple: ",t1)
print("chuyen tuple thanh series: ")
print(pd.Series(t1))

tuple:  (1, 3, 4, 5)
chuyen tuple thanh series:
0    1
1    3
2    4
3    5
dtype: int64

In [22]:
d1 = {"year": 2003 , "age":18 }
print("dictionary: ",d1)
print("chuyen dict thanh series: ")
print(pd.Series(d1))

dictionary:  {'year': 2003, 'age': 18}
chuyen dict thanh series:
year    2003
age       18
dtype: int64

Câu 6: Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series
có kích thước (1x20) với giá trị ngẫu nhiên:
- Xuất series ra màn hình
- Xuất các chỉ số của series ra màn hình
- Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu
đánh chỉ số bằng label và in kết quả ra màn hình

In [27]:
x = pd.Series(np.random.randint(1,20,[20]))
print(x)

0     13
1      4
2      6
3     13
4      6
5     15
6      1
7      4
8     10
9     10
10     8
11    14
12    18
13    11
14     3
15    12
16    14
17    11
18     1
19    10
dtype: int64

In [28]:
print("chi so cua series: ",x.index)

chi so cua series:  RangeIndex(start=0, stop=20, step=1)

In [30]:
print(x)
l1 = ['a','b','c','d','e','f','g','h','l','m','n','i','j','k','o','p','q','t','u','w']
x.index=l1
print("Thay doi cach danh chi so: ")
print(x)

0     13
1      4
2      6
3     13
4      6
5     15
6      1
7      4
8     10
9     10
10     8
11    14
12    18
13    11
14     3
15    12
16    14
17    11
18     1
19    10
dtype: int64
Thay doi cach danh chi so:
a    13
b     4
c     6
d    13
e     6
f    15
g     1
h     4
l    10
m    10
n     8
i    14
j    18
k    11
o     3
p    12
q    14
t    11
u     1
w    10
dtype: int64

Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi,
hãy:
- Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
- Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [32]:
b = pd.Series(np.random.randint(1,10,[10]))
l2 = ['a','b','c','d','e','f','g','h','i','j']
b.index = l2
print(b)
print("chi so a: ",b.loc['a'])
print("chi so c: ",b.loc['c'])
print("chi so e: ",b.loc['e'])

a    5
b    8
c    4
d    5
e    3
f    6
g    9
h    4
i    9
j    9
dtype: int64
chi so a:  5
chi so c:  4
chi so e:  3

In [33]:
print(b)
print("chi so tu 3 den 6: ")
print(b.iloc[3:7])

a    5
b    8
c    4
d    5
e    3
f    6
g    9
h    4
i    9
j    9
dtype: int64
chi so tu 3 den 6:
d    5
e    3
f    6
g    9
dtype: int64