<a href="https://colab.research.google.com/github/lenaphamthi/bai_tap_thong_ke/blob/main/bai_tap_phan_tich_anova_1chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

Khai báo các thư viện cần thiết:

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as st 
import xlrd

**1.Phân tích ANOVA 1 chiều với Excavation Depth and Archaeology ( Độ sâu khai quật và khảo cổ học)**

*Đề bài : Độ sâu khai quật và khảo cổ học*

Bốn địa điểm khai quật khác nhau tại một khu vực khảo cổ ở New Mexico đã đưa ra độ sâu sau (cm) cho những khám phá khảo cổ học quan trọng.

X1 = độ sâu tại Vị trí I

X2 = độ sâu tại Vị trí II

X3 = độ sâu tại Vị trí III

X4 = độ sâu tại Vị trí IV

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [6]:
#Đọc file excel 
df1 = pd.read_excel("/owan01.xls",engine="xlrd")
df1

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [23]:
#xóa NaN 
df1 = df1.dropna()
df1

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0
5   82  70.0   65.0  80.0
6   99  65.0   50.0  85.0
7   87  55.0   30.0  95.0
8  100  50.0   45.0  82.0

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [ ]:
stats, p_value = st.shapiro(df1["X1"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.9960364103317261
Không có bằng chứng bác bỏ giả thuyết H0

In [ ]:
stats, p_value = st.shapiro(df1["X2"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 1.0
Không có bằng chứng bác bỏ  giả thuyết H0

In [ ]:
stats, p_value = st.shapiro(df1["X3"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 1.0
Không có bằng chứng bác bỏ giả thuyết H0

In [ ]:
stats, p_value = st.shapiro(df1["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 1.0
Không có bằng chứng bác bỏ  giả thuyết H0

**Bắt đầu tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [10]:
stats, p_value = st.bartlett(df1["X1"], df1["X2"], df1["X3"], df1["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.48620382137845997
Không có bằng chứng bác bỏ  giả thuyết H0

**Ta tiến hành phân tích ANOVA 1 chiều với dữ liệu vì các nhóm đều độc lập, được lấy từ phân phối chuẩn và giống về phương sai**

Phát biểu giả thuyết:

Giả thuyết null

$$H_0 : \text{Độ sâu trung bình của 4 địa điểm khai quật không có sự khác biệt}$$

Giả thuyết thay thế 

$$H_a:\text{Tồn tại ít nhất sự khác biệt giữa Độ sâu trung bình của 4 địa điểm khai quật}$$

In [41]:
stats, p_value = st.f_oneway(df1["X1"], df1["X2"], df1["X3"], df1["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.0002462096906673732
Có bằng chứng bác bỏ giả thuyết H0

*Kết luận rằng : độ sâu trung bình của các nhóm có sự khác biệt*

**2.Phân tích ANOVA 1 chiều với Apple Orchard Experiment (Thử nghiệm Apple Orchard)**

*Đề bài : Thử nghiệm Apple Orchard*

Năm loại gốc rễ đã được sử dụng trong một thí nghiệm ghép vườn táo. Dữ liệu sau đây thể hiện mức tăng trưởng mở rộng (cm) sau bốn năm.

X1 = tăng trưởng mở rộng cho loại I

X2 = tăng trưởng mở rộng cho loại II

X3 = tăng trưởng mở rộng cho loại III

X4 = tăng trưởng mở rộng cho loại IV

X5 = tăng trưởng mở rộng cho loại V

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [29]:
#Đọc file excel 
df2 = pd.read_excel("/owan02.xls",engine="xlrd")
df2

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079
5  2336  3018  3085  3318  3366
6  3211  3383  3308  3601  2416
7  3037  3447  3231  3291  3100

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [35]:
stats, p_value = st.shapiro(df2["X1"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.644533634185791
Không có bằng chứng bác bỏ  giả thuyết H0

In [36]:
stats, p_value = st.shapiro(df2["X2"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.7472830414772034
Không có bằng chứng bác bỏ  giả thuyết H0

In [37]:
stats, p_value = st.shapiro(df2["X3"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.3169650137424469
Không có bằng chứng bác bỏ giả thuyết H0

In [38]:
stats, p_value = st.shapiro(df2["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.5994704365730286
Không có bằng chứng bác bỏ giả thuyết H0

In [39]:
stats, p_value = st.shapiro(df2["X5"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.803491473197937
Không có bằng chứng bác bỏ  giả thuyết H0

**Bắt đầu tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [40]:
stats, p_value = st.bartlett(df2["X1"], df2["X2"], df2["X3"], df2["X4"],df2["X5"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.825688088344803
Không có bằng chứng bác bỏ giả thuyết H0

**Ta tiến hành phân tích ANOVA 1 chiều với dữ liệu vì các nhóm đều độc lập, được lấy từ phân phối chuẩn và giống nhau về phương sai**

Phát biểu giả thuyết:

Giả thuyết null

$$H_0 : \text{Tăng trưởng mở rộng của 5 loại không có sự khác biệt}$$

Giả thuyết thay thế 

$$H_a:\text{Tồn tại ít nhất sự khác biệt giữa Tăng trưởng mở rộng của 5 loại}$$

In [44]:
stats,p_value = st.f_oneway(df2["X1"],df2["X2"],df2["X3"],df2["X4"],df2["X5"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.28382583646160114
Không có bằng chứng bác bỏ giả thuyết H0

*Kết luận rằng : tăng trưởng mở rộng của 5 loại gốc rễ không có sự khác biệt*

**3.Phân tích ANOVA 1 chiều với Red Dye Number 40 (Thuốc nhuộm đỏ số 40)**

*Đề bài : Thuốc nhuộm đỏ số 40*

S.W. Laagakos và F. Mosteller của Đại học Harvard cho chuột ăn các liều thuốc nhuộm đỏ số 40 khác nhau và ghi lại thời gian chết trong nhiều tuần. Kết quả đối với chuột cái, liều lượng và thời gian chết được hiển thị trong dữ liệu

X1 = thời gian chết cho nhóm kiểm soát

X2 = thời gian tử vong của nhóm sử dụng liều lượng thấp

X3 = thời gian tử vong của nhóm sử dụng liều lượng trung bình

X4 = thời gian tử vong của nhóm sử dụng liều lượng cao

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [46]:
#Đọc file excel
df3 = pd.read_excel("/owan03.xls",engine="xlrd")
df3

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

     X1    X2    X3     X4
0    70  49.0  30.0   34.0
1    77  60.0  37.0   36.0
2    83  63.0  56.0   48.0
3    87  67.0  65.0   48.0
4    92  70.0  76.0   65.0
5    93  74.0  83.0   91.0
6   100  77.0  87.0   98.0
7   102  80.0  90.0  102.0
8   102  89.0  94.0    NaN
9   103   NaN  97.0    NaN
10   96   NaN   NaN    NaN

In [49]:
#Xóa NaN cho dữ liệu 
df3 =  df3.dropna()
df3

    X1    X2    X3     X4
0   70  49.0  30.0   34.0
1   77  60.0  37.0   36.0
2   83  63.0  56.0   48.0
3   87  67.0  65.0   48.0
4   92  70.0  76.0   65.0
5   93  74.0  83.0   91.0
6  100  77.0  87.0   98.0
7  102  80.0  90.0  102.0

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [52]:
stats,p_value = st.shapiro(df3["X1"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.8542101979255676
Không có bằng chứng bác bỏ giả thuyết H0

In [53]:
stats,p_value = st.shapiro(df3["X2"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.8434385061264038
Không có bằng chứng bác bỏ giả thuyết H0

In [54]:
stats,p_value = st.shapiro(df3["X3"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.3321065306663513
Không có bằng chứng bác bỏ giả thuyết H0

In [55]:
stats,p_value = st.shapiro(df3["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng để bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.14956821501255035
Không có bằng chứng bác bỏ  giả thuyết H0

**Bắt đầu tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [57]:
stats, p_value = st.bartlett(df3["X1"], df3["X2"], df3["X3"], df3["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.023106804849423433
Có bằng chứng bác bỏ  giả thuyết H0

**Không thể tiến hành phân tích ANOVA 1 chiều với dữ liệu vì phương sai giữa các nhóm khác nhau**

**4.Phân tích ANOVA 1 chiều với Business Startup Costs( Chi phí khởi nghiệp kinh doanh)**

*Đề bài: Chi phí Khởi nghiệp Kinh doanh*


Dữ liệu sau thể hiện chi phí khởi động kinh doanh (hàng nghìn đô la) cho các cửa hàng.

X1 = chi phí khởi động cho bánh pizza

X2 = chi phí khởi động cho thợ làm bánh / bánh rán

X3 = chi phí khởi động cho các cửa hàng giày

X4 = chi phí khởi động cho các cửa hàng quà tặng

X5 = chi phí khởi động cho các cửa hàng thú cưng

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [60]:
#Đọc file excel
df4 = pd.read_excel("/owan04.xls",engine="xlrd")
df4

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

       X1     X2     X3     X4   X5
0    80.0  150.0   48.0  100.0   25
1   125.0   40.0   35.0   96.0   80
2    35.0  120.0   95.0   35.0   30
3    58.0   75.0   45.0   99.0   35
4   110.0  160.0   75.0   75.0   30
5   140.0   60.0  115.0  150.0   28
6    97.0   45.0   42.0   45.0   20
7    50.0  100.0   78.0  100.0   75
8    65.0   86.0   65.0  120.0   48
9    79.0   87.0  125.0   50.0   20
10   35.0   90.0    NaN    NaN   50
11   85.0    NaN    NaN    NaN   75
12  120.0    NaN    NaN    NaN   55
13    NaN    NaN    NaN    NaN   60
14    NaN    NaN    NaN    NaN   85
15    NaN    NaN    NaN    NaN  110

In [62]:
#Xóa NaN cho dữ liệu 
df4 = df4.dropna()
df4

      X1     X2     X3     X4  X5
0   80.0  150.0   48.0  100.0  25
1  125.0   40.0   35.0   96.0  80
2   35.0  120.0   95.0   35.0  30
3   58.0   75.0   45.0   99.0  35
4  110.0  160.0   75.0   75.0  30
5  140.0   60.0  115.0  150.0  28
6   97.0   45.0   42.0   45.0  20
7   50.0  100.0   78.0  100.0  75
8   65.0   86.0   65.0  120.0  48
9   79.0   87.0  125.0   50.0  20

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [64]:
stats, p_value = st.shapiro(df4["X1"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.9062873125076294
Không có bằng chứng bác bỏ  giả thuyết H0

In [65]:
stats, p_value = st.shapiro(df4["X2"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.5765353441238403
Không có bằng chứng bác bỏ  giả thuyết H0

In [66]:
stats, p_value = st.shapiro(df4["X3"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.3917592167854309
Không có bằng chứng bác bỏ  giả thuyết H0

In [67]:
stats, p_value = st.shapiro(df4["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.5785742998123169
Không có bằng chứng bác bỏ  giả thuyết H0

In [68]:
stats, p_value = st.shapiro(df4["X5"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.012689383700489998
Có bằng chứng bác bỏ  giả thuyết H0

**Không thể tiến hành phân tích ANOVA 1 chiều với dữ liệu vì có một mẫu không được lấy từ phân phối chuẩn**

**5.Phân tích ANOVA 1 chiều với Weights of Football Players(Trọng lượng của các cầu thủ bóng đá)**

*Đề bài: Trọng lượng của các cầu thủ bóng đá*

Dữ liệu sau đây đại diện cho trọng lượng (pound) của một mẫu ngẫu nhiên các cầu thủ bóng đá chuyên nghiệp của các đội sau đây.

X1 = trọng số của những người chơi cho Dallas Cowboys

X2 = trọng lượng của người chơi cho Green Bay Packers

X3 = trọng số của người chơi cho Denver Broncos

X4 = trọng lượng của người chơi cho Miami Dolphins

X5 = trọng lượng của người chơi cho San

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [70]:
#Đọc file excel 
df5 = pd.read_excel("/owan05.xls",engine="xlrd")
df5

*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

     X1   X2   X3   X4   X5
0   250  260  270  260  247
1   255  271  250  255  249
2   255  258  281  265  255
3   264  263  273  257  247
4   250  267  257  268  244
5   265  254  264  263  245
6   245  255  233  247  249
7   252  250  254  253  260
8   266  248  268  251  217
9   246  240  252  252  208
10  251  254  256  266  228
11  263  275  265  264  253
12  248  270  252  210  249
13  228  225  256  236  223
14  221  222  235  225  221
15  223  230  216  230  228
16  220  225  241  232  271

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [75]:
stats, p_value = st.shapiro(df5["X1"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.028549334034323692
Có bằng chứng bác bỏ  giả thuyết H0

In [74]:
stats, p_value = st.shapiro(df5["X2"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.16341625154018402
Không có bằng chứng bác bỏ  giả thuyết H0

In [73]:
stats, p_value = st.shapiro(df5["X3"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.6627115607261658
Không có bằng chứng bác bỏ  giả thuyết H0

In [72]:
stats, p_value = st.shapiro(df5["X4"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.06506332755088806
Không có bằng chứng bác bỏ  giả thuyết H0

In [71]:
stats, p_value = st.shapiro(df5["X5"])
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.3383376896381378
Không có bằng chứng bác bỏ  giả thuyết H0

**Không thể tiến hành phân tích ANOVA 1 chiều với dữ liệu vì có một mẫu không được lấy từ phân phối chuẩn**