<a href="https://colab.research.google.com/github/lenaphamthi/do_an_HK2_SDTK/blob/main/do_an_HK2_TKSD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2) Sử dụng tập tin Diet_R.csv để thực hiện phân tích thống kê suy diễn - ANOVA một chiều. Tham khảo tập tin mô tả tập dữ liệu được kèm theo.

*PHÂN TÍCH ANOVA MỘT CHIỀU*

Phân tích ANOVA chấp nhận các giả định sau:

(1) Tất cả các nhóm đều độc lập với nhau

(2) Dữ liệu của mỗi nhóm đều tuân theo phân phối chuẩn. Tính chất này có thể được kiểm định bằng phương pháp Shapiro-Wilks.

(3) Phương sai (variance) của các nhóm bằng nhau. Tính chất này có thể được kiểm định bằng phương pháp kiểm định Bartlett hay Levene.

Nếu dữ liệu hiện có thỏa mãn các tính chất trên thì chúng ta mới tiến hành kiểm định ANOVA. Do vậy trước khi tiến hành kiểm định ANOVA, chúng ta cần thực hiện kiểm tra tập dữ liệu cần thỏa mãn 3 tính chất trên.

In [27]:
#Khai báo những thư viện cần thiết 
import numpy as np
import pandas as pd
import scipy.stats as st
import random as random

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Phân tích ANOVA 1 chiều với tập dữ liệu chế độ ăn kiêng**

Đề bài : Trong tập dữ liệu chứa thông tin của 78 người sử dụng 1 trong 3 chế độ ăn kiêng. Sau sáu tuần thực hiện thì chế độ ăn nào giảm cân hiệu quả nhất và có sự khác nhau hay không?

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [144]:
#Đọc tập dữ liệu
df = pd.read_csv("/content/Diet_R.csv")
df

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
0       25          41     171          60     2          60.0
1       26          32     174         103     2         103.0
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[78 rows x 7 columns]

In [145]:
#Ta thấy dữ liệu gender cột 0 và 1 có giá trị NaN cho nên ta tiến hành loại bỏ và sắp xếp lại dữ liệu sau khi xóa 2 cột này 
df1 = df.copy()
rmove = df.drop([0, 1])
x = rmove.set_index('Person')
df2 = x.sort_index()
df2.head()

       gender  Age  Height  pre.weight  Diet  weight6weeks
Person
1           0   22     159          58     1          54.2
2           0   46     192          60     1          54.0
3           0   55     170          64     1          63.3
4           0   33     171          64     1          61.1
5           0   50     170          65     1          62.2

In [146]:
df2.describe()

             Age      Height  pre.weight       Diet  weight6weeks
count  76.000000   76.000000   76.000000  76.000000     76.000000
mean   39.223684  170.776316   72.289474   2.039474     68.343421
std     9.908379   11.419981    7.974653   0.823663      8.058938
min    16.000000  141.000000   58.000000   1.000000     53.000000
25%    32.500000  163.750000   66.000000   1.000000     61.950000
50%    39.000000  169.000000   72.000000   2.000000     68.950000
75%    47.250000  175.250000   78.000000   3.000000     73.675000
max    60.000000  201.000000   88.000000   3.000000     84.500000

**Phương pháp 1 : Bỏ qua chế độ ăn kiêng và kiểm tra xem đã giảm cân chưa**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Không có sự khác biệt giữa cân nặng trước và sau khi giảm cân}$$

Giả thuyết thay thế 

$$H_a:\text{Có sự khác biệt giữa cân nặng trước và sau khi giảm cân}$$

In [147]:
#khai báo
truoc = df2['pre.weight']
sau = df2['weight6weeks']

In [148]:
#sử dụng kiểm định t
t_test, p_value = st.ttest_ind(truoc, sau)
print('p_value:',p_value)
if (p_value < 0.05):
  print('Có bằng chứng để bác bỏ giả thuyết H0')
else:
  print('Không có bằng chứng để bác bỏ giả thuyết H0')

p_value: 0.0028431949414180584
Có bằng chứng để bác bỏ giả thuyết H0

*Kết luận : sau khi tiến hành kiểm định ta thấy rằng cân nặng trước và sau khi giảm cân có sự khác biệt*

**Phương pháp 2 : Sử dụng trọng lượng trước/sau để xem số cân đã giảm được là bao nhiêu**

In [149]:
#Thêm cột dữ liệu lost weight
kq = truoc - sau
df2.insert(6, 'Số cân giảm được', kq)
df2.head()

       gender  Age  Height  pre.weight  Diet  weight6weeks  Số cân giảm được
Person
1           0   22     159          58     1          54.2               3.8
2           0   46     192          60     1          54.0               6.0
3           0   55     170          64     1          63.3               0.7
4           0   33     171          64     1          61.1               2.9
5           0   50     170          65     1          62.2               2.8

**Phương pháp 3: Thống kê tóm tắt theo chế độ ăn kiêng**

In [150]:
#Bảng thống kê tổng hợp các chế độ ăn kiêng 
df2['Diet'].describe()

count    76.000000
mean      2.039474
std       0.823663
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max       3.000000
Name: Diet, dtype: float64

In [151]:
#Tạo bảng thống kê tổng số người thực hiện 3 chế độ ăn kiêng 
count= df2.groupby('Diet')['Diet'].count()
count= pd.DataFrame(count)
count.columns = ['Số người']
count

      Số người
Diet
1           24
2           25
3           27

In [152]:
#Bảng thống kê tóm tắt chế độ ăn kiêng loại 1 
diet = df2.groupby('Diet').groups
t1 = df2['Số cân giảm được'][diet[1]]
t1.name = 'Diet Type 1'
t1.describe()

count    24.000000
mean      3.300000
std       2.240148
min      -0.600000
25%       1.975000
50%       3.050000
75%       3.950000
max       9.000000
Name: Diet Type 1, dtype: float64

In [153]:
#Bảng thống kê tóm tắt chế độ ăn kiêng loại 2
t2 = df2['Số cân giảm được'][diet[2]]
t2.name = 'Diet Type 2'
t2.describe()

count    25.000000
mean      3.268000
std       2.464535
min      -2.100000
25%       2.000000
50%       3.500000
75%       4.700000
max       7.900000
Name: Diet Type 2, dtype: float64

In [154]:
#Bảng thống kê tóm tắt chế độ ăn kiêng 3
t3 = df2['Số cân giảm được'][diet[3]]
t3.name = 'Diet Type 3'
t3.describe()

count    27.000000
mean      5.148148
std       2.395568
min       0.500000
25%       3.450000
50%       5.400000
75%       7.000000
max       9.200000
Name: Diet Type 3, dtype: float64

**Phương pháp 4 : Sử dụng One-way ANOVA để xem các chế độ ăn kiêng nào là tốt nhất để giảm cân??**

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [155]:
#Kích thước của các mẫu không bằng nhau nên ta lấy ngẫu nhiên 20 giá trị của từng dữ liệu 
t1 = t1.sample(20)
t2 = t2.sample(20)
t3 = t3.sample(20)

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [156]:
stats, p_value = st.shapiro(t1)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.10288313776254654
Không có bằng chứng bác bỏ giả thuyết H0

In [157]:
stats, p_value = st.shapiro(t2)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.8660820722579956
Không có bằng chứng bác bỏ giả thuyết H0

In [158]:
stats, p_value = st.shapiro(t3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.7422074675559998
Không có bằng chứng bác bỏ giả thuyết H0

**Bắt đầu tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [159]:
stats, p_value = st.bartlett(t1,t2,t3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.9712137839524472
Không có bằng chứng bác bỏ giả thuyết H0

**Ta tiến hành phân tích ANOVA 1 chiều với dữ liệu vì các nhóm đều độc lập, được lấy từ phân phối chuẩn và giống về phương sai**

Phát biểu giả thuyết:

Giả thuyết null

$$H_0 : \text{Phương pháp giảm cân của 3 chế độ ăn kiêng không có sự khác biệt}$$

Giả thuyết thay thế 

$$H_a:\text{Tồn tại ít nhất sự khác biệt giữa 3 chế độ ăn kiêng}$$

In [160]:
stats, p_value = st.f_oneway(t1,t2,t3)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.012292545547544435
Có bằng chứng bác bỏ giả thuyết H0

*Kết luận : như vậy phương pháp giảm cân của 3 chế độ ăn có sự khác biệt*

Sau khi biết được 3 chế độ ăn kiêng cho ra kết quả khác nhau, ta tiến hành phân tích xem chế độ nào sau khi thực hiện cho ra kết quả giảm cân tốt nhất

In [137]:
#Thực hiện bằng cách sử dụng độ lệch chuẩn vì 
#Sự thay đổi đáng kể về dữ liệu đem lại giá trị độ lệch chuẩn cao 
#và dữ liệu giá ổn định hình thành độ lệch chuẩn ở mức thấp.
Std = [t1.std(), t2.std(), t3.std()]
mode = ['1', '2', '3']
table = list(zip(mode, Std))
table = pd.DataFrame(table)
table.columns = ['Chế độ ăn uống','Std']
table

  Chế độ ăn uống       Std
0              1  1.445645
1              2  2.497132
2              3  2.404648

*Kết luận : ta đang phân vân giữa chế độ ăn kiêng 2 và 3 vì chúng sấp xỉ nhau về giá trị độ lệch chuẩn, ta tiếp tục tiến hành tìm số trung bình giảm cân của 3 chế độ là bằng bao nhiêu*

In [161]:
mean= [t1.mean(), t2.mean(), t3.mean()]
mode = ['1', '2', '3']
table = list(zip(mode, mean))
table = pd.DataFrame(table)
table.columns = ['Chế độ ăn uống','Mean']
table

  Chế độ ăn uống   Mean
0              1  3.240
1              2  3.330
2              3  5.305

*Số cân nặng nhất đã giảm được trong Chế độ ăn kiêng 3
(trung bình = 5,30 kg) so với Chế độ ăn 1 và 2 (trung bình = 3,24kg, 3,33kg tương ứng).*

**Kết luận rằng chế độ ăn kiêng 3 là giảm cân tốt nhất**

**Phương pháp 4.1 : Có sự khác biệt về giới tính đối với giảm cân?**

In [162]:
#Tạo bảng thống kê tổng số giới tính nam và nữ thực hiện các chế độ 
#gender 0:nữ ; 1:nam 
count= df2.groupby('gender')['gender'].count()
count= pd.DataFrame(count)
count.columns = ['Số người']
count

        Số người
gender
0             43
1             33

In [163]:
df3 = df2[['gender', 'Số cân giảm được']]
df3.head()

       gender  Số cân giảm được
Person
1           0               3.8
2           0               6.0
3           0               0.7
4           0               2.9
5           0               2.8

In [164]:
sex = df3.groupby('gender').groups
g0= df3['Số cân giảm được'][sex['0']]
g1 = df3['Số cân giảm được'][sex['1']]

Xây dựng giả thuyết :
$$H_{0}: \mu_{1} = \mu_{2} = ... = \mu_{n}$$
$$H_{a}: \text{Tồn tại ít nhất một cặp } (\mu_{i}, \mu_{j}) \text{ có giá trị khác nhau}$$

In [165]:
# Kích thước của các mẫu không bằng nhau nên ta lấy ngẫu nhiên 20 giá trị của từng dữ liệu 
g0 = g0.sample(20)
g1 = g1.sample(20)

**Bắt đầu tiến hành kiểm định các nhóm có lấy từ phân phối chuẩn**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm được lấy từ phân phối chuẩn}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm không được lấy từ phân phối chuẩn}$$

In [166]:
stats, p_value = st.shapiro(g0)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.6853352189064026
Không có bằng chứng bác bỏ giả thuyết H0

In [167]:
stats, p_value = st.shapiro(g1)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.8869631290435791
Không có bằng chứng bác bỏ giả thuyết H0

**Bắt đầu tiến hành kiểm định phương sai của các nhóm có sự khác biệt**

Phát biểu giả thuyết :

Giả thuyết null

$$H_0 : \text{Các nhóm có phương sai giống nhau}$$

Giả thuyết thay thế 

$$H_a:\text{Các nhóm có phương sai không giống nhau}$$

In [168]:
stats, p_value = st.bartlett(g0,g1)
print("p_value:",p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ  giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ  giả thuyết H0")

p_value: 0.9107408741401564
Không có bằng chứng bác bỏ  giả thuyết H0

**Ta tiến hành phân tích ANOVA 1 chiều với dữ liệu vì các nhóm đều độc lập, được lấy từ phân phối chuẩn và giống về phương sai**

Phát biểu giả thuyết:

Giả thuyết null

$$H_0 : \text{Không có sự khác biệt về giới tính đối với giảm cân}$$

Giả thuyết thay thế 

$$H_a:\text{Tồn tại ít nhất sự khác biệt về giới tính đối với giảm cân}$$

In [170]:
stats, p_value = st.f_oneway(g0,g1)
print('p_value:',p_value)
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

p_value: 0.44494397845176703
Không có bằng chứng bác bỏ giả thuyết H0

*Kết luận : Xét về tổng quan nam và nữ sau khi thực hiện các chế độ ăn kiêng thì cân nặng giảm xuống như nhau, không có sự khác biệt*